<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>HABITAT</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/img/pokemons.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Pikachu crece en áreas con altas cantidades de actividad eléctrica
      natural. Es un Pokémon bastante corriente. Se le puede encontrar en campos
      con abundantes arbustos de bayas e incluso en algunos bosques con pequeños
      ríos y lagunas para hidratarse. Hay una colonia de Pikachu bastante
      conocida en el Bosque Verde, en Kanto. Es normal que los Pikachu a veces
      se adentren en la ciudad en busca de comida si hay escasez en su hábitat,
      aunque son muy tímidos con los humanos. Suelen vivir en manadas.
    </p>
  </mat-card-content>
</mat-card>
