.login-page {
	height: 100%;
	width: 100%;
	background-image: url('/assets/img/pokemons.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo-container {
	height: auto;
	width: 250px;
}

.login-field {
	width: 100%;
}
